:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #e5e5e5;
  --button-bg-color: #f5f4fa;
  --white-text-color: #fff;
  --futter-bg-color: #2f303a;
}
/* Стили для index.html */

/* Body */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* header */
/* Цвета логотипа */

.logo .web {
  color: var(--accent-color);
}
.logo .studio {
  color: #000000;
}

/* убрать маркеры на всех списках*/
.list {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}
.site-contacts .link {
  color: var(--primary-text-color);
}

/* ховер ифокус для навигации сайта */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* цвет активной страницы */

.site-nav .link.curent {
  color: var(--accent-color);
}

/* hero */

.hero-title {
  color: var(--white-text-color);
}

/* особенности */
.section-title {
  color: var(--title-text-color);
}

.feature .title {
  color: var(--title-text-color);
}

/* team */
.team .title {
  color: var(--title-text-color);
}

/* footer */
.site-contacts .address {
  color: var(--white-text-color);
}

.site-contacts .mailto {
  color: rgba(255, 255, 255, 0.6);
}
.site-contacts .tel {
  color: rgba(255, 255, 255, 0.6);
}

/* СТРАНИЦА portfolio.html */

.portfolio .title {
  color: var(--title-text-color);
}
.project .title {
  color: var(--title-text-color);
}

/* Стилизация кнопок  */
.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}

/* ховер и фокус для списка кнопок */
.list .link:hover,
.list .link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
